<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/common.css' />
  </head>
  <body>
    <h1>服务器信息：</h1>
    <p>IP地址: <%= ip %></p>
    <p>端口号: <%= port %></p>
    <p>测试连接: <button id="testLink">点击测试连接</button></p>
    <div id="outPut" style="padding-left: 64px;">
        <p><span id="linkText"></span></p>
        <p><span id="linkBid"></span></p>
    </div>
    <script src="/js/basejs/jquery.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var CHAT_HOST = 'ws://<%= ip %>:<%= port %>';
    </script>
    <script src="/js/appjs/check/index.js"></script>
  </body>
</html>